Repository servicemesher/website, pull requests merged in 2019-06, with the labels that each got.

#40 Translation: Containers, microservices, and service meshes
  content/blog/containers-microservices-service-meshes/index.md
  content/blog/containers-microservices-service-meshes/meshes_by_guangmingluo.jpeg
Labels: categories/microservices, categories/service-mesh, kind/translation, size/M, status/under-review

#41 Translation: Implementing ChatOps With Jenkins X
  content/blog/implementing-chatops-with-jenkins-x/index.md
Labels: categories/serverless, kind/translation, size/S, status/under-review

#45 [转载] Service Mesh Interface详细介绍
  content/blog/service-mesh-interface-detail/images/SMI-Graphic.jpg
  content/blog/service-mesh-interface-detail/images/gartner.jpg
  content/blog/service-mesh-interface-detail/images/istio-traffic-split.png
  content/blog/service-mesh-interface-detail/images/logo.png
  content/blog/service-mesh-interface-detail/images/partnership.png
  content/blog/service-mesh-interface-detail/images/smi-background.jpg
  content/blog/service-mesh-interface-detail/images/smi-concept.jpg
  content/blog/service-mesh-interface-detail/images/smi-logo_0.png
  content/blog/service-mesh-interface-detail/images/smi-traffic-split.png
  content/blog/service-mesh-interface-detail/images/smi-traffic-target.png
  content/blog/service-mesh-interface-detail/images/smi.jpg
  content/blog/service-mesh-interface-detail/images/two-api.png
  content/blog/service-mesh-interface-detail/index.md
  static/img/blog/banners/56b75f420a4f45cb8303b3469281a229.jpg
Labels: kind/reprint

#47 Translation: Guidance for Building a Control Plane for Envoy Part 5
  content/blog/guidance-for-building-a-control-plane-for-envoy-deployment-tradeoffs/codeployed.png
  content/blog/guidance-for-building-a-control-plane-for-envoy-deployment-tradeoffs/double-click-ebay-control-plane.png
  content/blog/guidance-for-building-a-control-plane-for-envoy-deployment-tradeoffs/ebay-control-plane.png
  content/blog/guidance-for-building-a-control-plane-for-envoy-deployment-tradeoffs/index.md
  content/blog/guidance-for-building-a-control-plane-for-envoy-deployment-tradeoffs/separatecontrolplane.png
Labels: categories/service-mesh, kind/translation, size/M, tag/envoy, tag/istio

#44 Translation for #35
  content/blog/guidance-for-building-a-control-plane-for-envoy-part-2-identify-components/contour-control-plane.png
  content/blog/guidance-for-building-a-control-plane-for-envoy-part-2-identify-components/gloo-control-plane.png
  content/blog/guidance-for-building-a-control-plane-for-envoy-part-2-identify-components/index.md
  content/blog/guidance-for-building-a-control-plane-for-envoy-part-2-identify-components/istio-control-plane.png
Labels: categories/service-mesh, kind/translation, size/S, status/under-review, tag/envoy, tag/istio, tag/kubernetes

#54 Original: 开源，社区与朋友们-2019 KubeCon + ClondNativeCon + Open Source Summit有感
  content/blog/kubecon-cncf-oss-2019/How-SPIFFE-helps-Istio-in-Service-Mesh-Federation.pdf
  content/blog/kubecon-cncf-oss-2019/Ingressroute.pdf
  content/blog/kubecon-cncf-oss-2019/antfina.jpg
  content/blog/kubecon-cncf-oss-2019/background.jpg
  content/blog/kubecon-cncf-oss-2019/cloudmesh.pdf
  content/blog/kubecon-cncf-oss-2019/edgecloud.jpg
  content/blog/kubecon-cncf-oss-2019/germany-friend.jpg
  content/blog/kubecon-cncf-oss-2019/get-trust-bundle.jpg
  content/blog/kubecon-cncf-oss-2019/hashicorp.jpg
  content/blog/kubecon-cncf-oss-2019/index.md
  content/blog/kubecon-cncf-oss-2019/job-board.jpg
  content/blog/kubecon-cncf-oss-2019/linus.jpg
  content/blog/kubecon-cncf-oss-2019/scenery1.jpg
  content/blog/kubecon-cncf-oss-2019/service-communication.jpg
  content/blog/kubecon-cncf-oss-2019/workshop1.jpg
  content/blog/kubecon-cncf-oss-2019/workshop2.jpg
  static/img/blog/banners/kubecon-cncf-oss-2019-banner.jpg
Labels: categories/cloud-native, categories/service-mesh, kind/original, size/M, status/under-review, tag/istio, tag/kubernetes
