Repository servicemesher/website, pull requests merged in 2019-05, with the labels that each got.

#15 [原创] 如何为服务网格选择入口网关？
  content/blog/how-to-pick-gateway-for-service-mesh/6ce41a46gy1g1l4lmw4z7j20m80cj0tq.jpg
  content/blog/how-to-pick-gateway-for-service-mesh/6ce41a46gy1g1l4n2vx1tj20ol0h0dh3.jpg
  content/blog/how-to-pick-gateway-for-service-mesh/6ce41a46gy1g1l4nvyl1vj20nj0g83zi.jpg
  content/blog/how-to-pick-gateway-for-service-mesh/6ce41a46ly1g1kur6wqsjj20kh0cbaax.jpg
  content/blog/how-to-pick-gateway-for-service-mesh/6ce41a46ly1g1kur74j27j20ho0bujsm.jpg
  content/blog/how-to-pick-gateway-for-service-mesh/6ce41a46ly1g1kur7aa0qj20qv0hl3zr.jpg
  content/blog/how-to-pick-gateway-for-service-mesh/6ce41a46ly1g1kur7amu9j20oy0bdwf0.jpg
  content/blog/how-to-pick-gateway-for-service-mesh/6ce41a46ly1g1kur7ink1j20dx0bcabj.jpg
  content/blog/how-to-pick-gateway-for-service-mesh/6ce41a46ly1g1kur7v8ktj20nt0c0ab2.jpg
  content/blog/how-to-pick-gateway-for-service-mesh/6ce41a46ly1g1kur7vshrj20lw0gpaao.jpg
  content/blog/how-to-pick-gateway-for-service-mesh/6ce41a46ly1g1kur7w5yoj20es0lpwfn.jpg
  content/blog/how-to-pick-gateway-for-service-mesh/6ce41a46ly1g1kur7zut9j20fw0caaaf.jpg
  content/blog/how-to-pick-gateway-for-service-mesh/6ce41a46ly1g1kur85xbfj20fz0bp0t4.jpg
  content/blog/how-to-pick-gateway-for-service-mesh/6ce41a46ly1g1kv0ys0ndj20m80azdiw.jpg
  content/blog/how-to-pick-gateway-for-service-mesh/index.md
  static/img/blog/banners/6ce41a46gy1g31wxsf5ibj20rs0ku10r.jpg
Labels: categories/service-mesh, kind/original, size/M, tag/istio

#11 [原创] Istio 庖丁解牛四：pilot discovery
  content/blog/istio-analysis-4/index.md
Labels: categories/service-mesh, kind/original, status/under-review, tag/istio

#33 #26 翻译 exploring istio telemetry and observability
  content/blog/exploring-istio-telemetry-and-observability/index.md
  content/blog/exploring-istio-telemetry-and-observability/istio-telemetry.png
  content/blog/exploring-istio-telemetry-and-observability/uistio.png
Labels: categories/observability, categories/service-mesh, kind/translation, size/XL, status/under-review, tag/istio
